@media only screen and (orientation: portrait) {
  .splash .splash-head {
  //  height: 54vw;
  }

  #about{
    .content{
      max-width: 80%;
    }
  }
  .enter360{
    width: 110px;
    margin: 20px auto 20px auto;
  }
}
